.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 25px;
    
    // &.flex {
    //     display: flex;
    // }
}

body {
    font-size: 13px;
}

p {
    font-size: 1.2em;
    max-width: 28em;
}

.col {
    // width: 50%;
    flex-grow: 1;

    &.align-end {
        // align-content: end;
        text-align: right;
    }
}

@include breakpoint(phone) {
    .container {
        max-width: 100%;
        padding-left: 50px;
    }

    body {
        font-size: 15px;
    }
}


@include breakpoint(phablet) {
    .container {
        max-width: map-get($breakpoints, phablet) - 100;
        padding-left: 150px;
        padding-right: 150px;
    }
}


@include breakpoint(tablet) {
    .container {
        max-width: map-get($breakpoints, tablet) - 100;
        padding-left: 150px;
        padding-right: 150px;

        &.flex {
        display: flex;
    }
    }

    body {
        font-size: 16px;
    }
}


@include breakpoint(desktop) {
    .container {
        max-width: map-get($breakpoints, desktop) - 100;
        padding-left: 150px;
        padding-right: 150px;
    }

}


@include breakpoint(desktophd) {
    .container {
        max-width: map-get($breakpoints, desktophd) - 100;
        padding-left: 150px;
        padding-right: 150px;
    }
}